/* 
::-webkit-scrollbar {
display: none;
} */



/* ul li a{
  display:flex;
  justify-content: space-around;
  margin:0 5px;
  height:inherit;
  border: 3px solid transparent
  
} */

/* ul li a.is-active{
  font-weight:bold;
  pointer-events:none;
  border-top:3px solid hotpink;
} */

/* ul li a:hover{
  border-top:3px solid yellow;
} */